@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primarycolor: #633cff;
  --secondarycolor: #efebff;
  --testrialcolor: #eeeeee;
  --bgcolor: #fafafa;
  --skcolor: #969696;
  --font: "Instrument Sans", sans-serif;
  --fontcolor: rgb(78, 78, 78);
}
body {
  font-family: var(--font);
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
}
.parent-container {
  width: 98vw;
  max-width: 1280px;
}
.navbar-container,
.center-navbar-container {
  padding: 10px;
  display: flex;
  align-items: center;
}
.navbar-container {
  width: 100%;
  justify-content: space-between;
  background-color: white;
}
.tab-name,
.navbar-heading {
  display: none;
}

.devlinks-icon {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
  padding: 5px;
  border-radius: 10px;
}
.center-navbar-container {
  gap: 5vw;
}
.activetab {
  background-color: var(--secondarycolor);

  border-radius: 5px;
}
.navbar-icons {
  color: var(--primarycolor);
}
.center-navbar-container,
.right-navbar-container {
  cursor: pointer;
}
.right-navbar-container {
  padding: 10px 15px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--primarycolor);
  transition: all 0.2s linear;
}
.right-navbar-container:hover {
  background-color: var(--secondarycolor);
}
#preview-tab {
  display: none;
}

.left-navbar-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tab-container {
  display: flex;
  gap: 10px;
  padding: 10px 25px;
  align-items: center;
}
.tab-name {
  color: var(--fontcolor);
  font-weight: 500;
}
.tab-container:hover {
  background-color: var(--secondarycolor);
}
.share-app-content-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  justify-content: space-between;
  height: 100vh;
}
.right-content-container {
  width: 100%;
  background-color: white;
  padding: 40px 40px 24px;
}
.empty-phone-img-container {
  background: url("./svgviewer-png-output.png") no-repeat;
  height: 635px;
  width: 308px;
  display: flex;
  justify-content: center;
  padding: 68px 15px 0 15px;
}

.left-content-container,
.mobile-background-container {
  display: none;
  user-select: none;
}
.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.user-img-skeleton {
  width: 100px;
  height: 100px;
  background-color: var(--testrialcolor);
  border-radius: 50%;
  position: relative;
}
.user-img-skeleton > img {
  position: absolute;
  z-index: 1;
}
.skeleton-user-detail {
  background-color: var(--testrialcolor);
  width: 65%;
  height: 15px;
  border-radius: 10px;
}
.skeleton-user-detail:nth-child(3) {
  width: 35%;
  height: 10px;
}
.phone-links-heading {
  font-size: 12px;
  font-family: var(--font);
  color: var(--skcolor);
}
.phone-links-container {
  padding: 25px 0;
}
.phone-links-heading {
  padding-left: 25px;
}
.links-container {
  position: relative;
}
.real-links-container {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.skeleton-link-tab {
  height: 44px;
  width: 236px;
  background-color: var(--testrialcolor);
  border-radius: 5px;
  margin: 20px auto;
}

.right-hero-heading {
  font-family: var(--font);
  font-size: 2rem;
}
.right-description-heading {
  color: var(--fontcolor);
  line-height: 2.8rem;
}
.add-link-btn {
  color: var(--primarycolor);
  width: 100%;
  padding: 15px;
  background-color: transparent;
  margin-top: 50px;
  border: 1px solid var(--primarycolor);
  border-radius: 8px;
  transition: 0.2s linear;
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 25px;
}
.add-link-btn:hover {
  background-color: var(--secondarycolor);
}
.add-link-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: #666;
  border: none;
}
.get-started-container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.get-started-img {
  margin-top: 20px;
  max-height: 180px;
}
.get-started-heading {
  font-size: 2rem;
  line-height: 4.2rem;
}
.get-started-description {
  text-align: center;
  max-width: 75%;
  font-size: 1.05rem;
  color: var(--fontcolor);
}
.btn-container {
  border-top: 1px solid rgb(207, 207, 207);
  display: flex;
  justify-content: end;
  padding-top: 25px;
  gap: 5px;
}
.preview-btn,
.next-btn {
  padding: 12px 30px;
  border-radius: 8px;
  background-color: var(--primarycolor);
  border: 0;
  color: white;
  font-weight: 800;
  font-size: 1rem;
}
.next-btn {
  background-color: transparent;
  color: var(--primarycolor);
  border: 2px solid var(--primarycolor);
}
.next-btn:hover {
  background-color: var(--secondarycolor);
}
.link-user-input-container {
  height: 400px;
  overflow: auto;
}
.user-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: start;
  background-color: var(--bgcolor);
}
.user-input-header {
  display: flex;
  justify-content: space-between;
}
.link-heading {
  font-size: 1rem;
  color: grey;
  font-weight: 800;
  font-family: var(--font);
}
.link-remove-btn {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  color: var(--fontcolor);
  transition: all 0.2s linear;
}
.link-remove-btn:hover {
  color: var(--primarycolor);
}
.link-user-input-container {
  display: none;
}
.real-link-tab {
  text-decoration: none;
  color: white;
  background-color: black;
  height: 44px;
  width: 236px;
}
.link-tab-content {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.link-input-container {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 12px;
  color: #333333;
  margin-bottom: 10px;
}
.label-url {
  margin-top: 25px;
}
#platform,
#url {
  height: 44px;
  padding: 10px;
  font-size: 1rem;
  background-color: white;

  border-radius: 5px;
  border: 1px solid var(--skcolor);
  outline: 0;
  transition: all 0.2s linear;
}
#platform:focus,
#url:focus {
  border: 1px solid var(--primarycolor);
}
#platform:hover {
  border: 1px solid var(--primarycolor);
  box-shadow: 0 0 25px 0px #633cffd4;
}
#url:hover {
  border: 1px solid var(--primarycolor);
  box-shadow: 0 0 25px 0px #633cffd4;
}
@media screen and (min-width: 700px) {
  .tab-name,
  .navbar-heading,
  #preview-tab {
    display: contents;
  }

  .navbar-heading {
    font-weight: 700;
  }
  .center-navbar-container {
    gap: 10px;
  }
  .parent-container {
    padding: 24px 45px;
  }
  .devlinks-icon {
    font-size: 20px;
  }
  .navbar-container {
    padding: 10px 18px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) {
  .left-content-container,
  .mobile-background-container {
    display: block;
  }
  .share-app-content-container {
    gap: 24px;
  }
  .mobile-background-container {
    background-color: white;
    padding: 12px 20px;

    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-content-container {
    width: 85%;
  }
}
