@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #71becd;
  --primary-font: "Raleway", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(20, 20, 20, 1) 45%,
    rgb(38, 38, 37) 84%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.parent-container {
  padding: 10px;
  max-width: 500px;
  width: 100%;
}
.primary-heading {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 5rem;
  word-wrap: break-word;
  text-align: center;
  font-family: var(--primary-font);
}
.tabs-container {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  user-select: none;
}
.tab-container {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  color: var(--primary-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 18px;
  font-weight: 500;
}
.tab-container:hover {
  background-color: rgb(17, 17, 17);
}
.tab-container:has(data-tab="active") {
  background-color: black;
  font-weight: 750;
}
.tab-container[data-tab="active"] {
  background-color: black;
  font-weight: 800;
}
.text-to-speech-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.pitch-rate-container {
  display: flex;
  gap: 10px;
}
.label {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-family: var(--primary-font);
  font-weight: 500;
}
#text-input-box {
  width: 100%;
  border: 1px solid var(--primary-color);
  background-color: rgba(228, 228, 228, 0.965);
  border-radius: 10px;
  resize: vertical;
  outline: 0;
  padding: 5px;
  font-size: 1rem;
  font-family: var(--primary-font);
}
.range {
  accent-color: teal;
  width: 100%;
}
.row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.row > .label {
  font-size: 0.8rem;
  margin: 0;
}
.voices-play-btn {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
#voices {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  outline: 0;
  background-color: black;
  border: 0;
  color: var(--primary-color);
  font-family: var(--primary-font);
}
#play-pause-btn {
  padding: 10px;
  background-color: whitesmoke;
  border: 0;
  border-radius: 10px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
